/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}




/* Section Styling */
/* .section {
  padding: 60px 20px;
  min-height: 100vh;
  transition: background-color 0.3s ease;
} */

.bgImg{
  background-image: url(./assets/images/herobgImg.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.swiper-pagination-bullet {
  width: 90px; /* Make the bullets rectangular */
  height: 90px;
  border-radius: 0; /* Remove rounded edges */
  background: #ddd; /* Default color */
  transition: background 0.3s ease; /* Smooth hover transition */
}

.swiper-pagination-bullet-active {
  background: orange; /* Active bullet color */
}

.swiper-pagination-bullet:hover {
  background: orange; /* Change color to orange on hover */
}
